################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AsmTut1/.vs/AsmTut1/v15/ipch/AutoPCH/ASMTUT1-17867117/MAIN-6ab4b704/MAIN.ipch
